@import '../../.././styles//mixins.scss';
@import '../../.././styles//variables.scss';
@import '../../.././styles/fonts.scss';

.cart__wrapper {
	background-color: #fff;
    height: 100vh;
	 font-family: "Roboto Mono";
    min-width: 30%;
    position: absolute;
    z-index: 4;
    right: 0;
	 &_heading {
		display: flex;
		justify-content: space-between;
		padding: 1rem;
	 }
	 &_remove {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 0.8rem;
		margin-top: 0.5rem;
	 }
}
.container__wrapper {
	   overflow-y: auto;
		height: 63vh;
		@include custom-scrollbar(#f1f1f1, #888, #555);
}
.cart__container {
	display: flex;
	padding: 1rem;
	position: relative;
	align-items: flex-start;
	&::after {
	content: "";
	position: absolute;
	bottom: 0;
	height: 1px;
	width: 95%;
	border-bottom: 1px solid #eeeaea;
	}
	&_elem {
		flex: 1 1 auto;
		max-height: 5rem;
	}
	.product-cart {
		flex: 0 0 60%;
		display: flex;
	}
	.price {
		display: grid;
    	justify-content: end;
	}
}

.cart__image {
	width: 25%;
	text-align: center;
	& img {
		height: 85px;
	}
}
.basket {
	border-radius: 50%;
	justify-content: center;
	padding: 2rem;
	max-width: 40%;
	display: flex;
	& img {
		border-radius: 50%;
	}
}
.quantity__elem {
	border: 1px solid lightgray;
	color: gray;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-height: 2.5rem;
	padding: 1rem;
	&_operand {
		height: 18px;
	}
}

.cart__button_remove {
	background-color: transparent;
	border: none;
}

.cart__container_header {
	color: $text-color;
}

.checkout__section-wrapper {
	padding: 0.5rem;
	.checkout__section {
		border: 1px solid lightgrey;
		border-radius: 5px;
		padding: 1rem;
		&_item {
			display: flex;
			justify-content: space-between;
			margin: 1rem;
		}
	}
}

.checkout__button {
	width: 100%;
	border: none;
			color: #fff;
			background-color: #252525;
			text-align: center;
			padding: 10px 0;
			border-radius: 5px;
			text-transform: uppercase;
			font-weight: 700;
			@include hover-animation(background-color, $secondary-color);
}

.discount {
	border-bottom: 1px solid rgb(223, 219, 219);
	color: gray;
}
.notification__wrapper {
	padding: 1rem;
}
.notification__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	border-bottom: 1px solid #eeeaea;
}
.notification__main {
	display: flex;
    flex-direction: column;
    gap: 1rem;
	 & > div:after {
		@include custom-divider;
	 }
}
.notification__order {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	height: 20rem;
	@include custom-scrollbar(#f1f1f1, #888, #555);
	margin-top: 1rem;
	gap: 1rem;
	&_heading {
		display: flex;
    flex-direction: column;
	}
	&_price {
		flex: 1 1 auto;
    text-align: end;
    padding-right: 1.5rem;
	}
	&_container {
		display: flex;
		border-bottom: 1px solid #eeeaea;
	}
	&_image {
		width: 20%;
		& img {
			height: 80px;
		}
	}
}
.notification__subtitle {
	color: #a5aaaf;
	font-size: 0.8rem;
	padding-bottom: 1rem;
}
.quantity {
	color: #a5aaaf;
	padding-top: 0.5rem;
}

