@import './variables';

@mixin btn-style {
	border-radius: 0.25rem;
   padding: 0.3rem 0.75rem;
}

@mixin custom-scrollbar($track-color, $thumb-color, $thumb-hover-color) {
	&::-webkit-scrollbar {
	  width: 0.5em;
	  height: 0.5em;
	}
	
	&::-webkit-scrollbar-track {
	  background-color: $track-color;
	}
	
	&::-webkit-scrollbar-thumb {
	  background-color: $thumb-color;
	  border-radius: 1em;
	}
	
	&::-webkit-scrollbar-thumb:hover {
	  background-color: $thumb-hover-color;
	}
	&::-webkit-scrollbar-button {
	  display: none;
	}
 }

 @mixin hover-animation($property, $propertyColor) {
	transition: all .5s ease-in-out;
	cursor: pointer;
	&:hover {
	  #{$property}: #{$propertyColor};
	}
 }

 @mixin hover-animation-switcher() {
	transition: all .5s ease-in-out;
	cursor: pointer;
	&:hover {
		background-color: $secondary-color;
		color: $main-color;
		opacity: 0.9;
	 }
 }

 @mixin custom-border {
	content: "";
	position: absolute;
	bottom: 0;
	right: 10%;
	height: 1px;
	width: 80%;
	border-bottom: 1px solid #eeeaea;
 }