@import '../../styles/variables';
@import '../../styles/mixins';

.products {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
}

.products__chevron {
  position: relative;
  border: none;
  background: transparent;
  margin: 0 auto;
  max-width: fit-content;
  animation-name: jump;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

.products__container {
  display: flex;
  gap: 0.7rem;
  overflow: hidden;
  padding: 2rem;
}

.product__price {
  margin-bottom: 4rem;
  @include price-style;
  .product__text {
    color: $secondary-color;
    font-weight: 700;
    margin-right: 1rem;
  }
}

.product {
  transition: transform 0.5s;
  flex: 0 0 33.333333%;
  box-shadow: 0 0 1.8rem 0.6rem #f0f0f0;
  text-align: center;
  height: max-content;
  background-color: #fff;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  &__image {
    height: 18rem;
    object-fit: contain;
    transition: all 0.5s;
    &:hover {
      transform: scale(1.1);
      transition: all 0.5s;
    }
  }
}
h4 {
  font-size: calc(0.6rem + 0.7vw);
  text-align: center;
  font-weight: 700;
  padding-bottom: 0.3rem;
}
.product__footer {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  > span:hover {
    animation-name: jump;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
}
.product__button {
  color: $secondary-color;
  font-weight: 700;
  border: none;
  background-color: transparent;
  @include hover-animation(color, $primary-color);
}
.radio {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  &__overlay {
    position: relative;
    display: flex;
  }
}

.radio__input {
  position: relative;
  width: 0.9rem;
  z-index: 1;
  height: 1.2rem;
  cursor: pointer;
  opacity: 0;
  &:checked + .radio__circle:before {
    background: $secondary-color;
  }
  &:hover + .radio__circle {
    border-color: $secondary-color;
  }
}
.radio__circle {
  width: 1.25rem;
  height: 1.25rem;
  border: 3px solid #314547;
  border-radius: 50%;
  position: absolute;
}
.radio__circle:before {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 0.625rem;
  width: 0.625rem;
  content: '';
  background: transparent;
  border-radius: 50%;
}
.products__title {
  font-size: calc(2.1rem + 0.9vw);
  color: #30302e;
  font-weight: 700;
  text-align: center;
}
