@import '../..//styles/variables';
@import '../..//styles/mixins';
@import '../..//styles/fonts';

footer {
    position: relative;
    height: 30rem;
    top: 60vh;
	 display: flex;
	 max-width: 100%;
}

.footer__map {
	width: 100%;
    height: auto;
	 position: relative;
}

.map__widget {
	background-color: #fff;
	border-radius: 0.5rem;
	padding: 0.7rem;
	width: 25%;
	top: 1rem;
	left: 5%;
	position: absolute;
}
.map__widget_item {
	display:flex;
	justify-content: space-between;
	font-family: 'Crimson Text SemiBold';
}

.origin, .destination {
	border-radius: 0.25rem;
    padding: 0.2rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid lightgrey;
	 outline: none;
}

.result {
	margin-top: 1rem;

}

.btn__calculate {
    font-size: 16px;
    border: none;
    color: #fff;
    background-color: #252525;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
	 @include hover-animation(background-color, $secondary-color);
}

.footer__divider {
	background-color: #252525;
	padding: 2rem;
}
.borderless {
	border: none;
    background: transparent;
}
.result__distance, .result__duration {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}