@font-face {
  font-family: 'Crimson Text SemiBold';
  src: local('Crimson Text SemiBold'),
    url('../assets/fonts/Crimson_Text/CrimsonText-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  src: local('Roboto Mono'),
    url('../assets/fonts/Roboto_Mono/static/RobotoMono-Medium.ttf') format('truetype');
}
