@import './variables';

@media (max-width: 1200px) {
  .wrapper {
    height: 40rem;
    & img {
      object-fit: fill;
    }
  }
  .container {
    max-width: $container-md;
    transition: max-width 400ms ease-in-out 0s;
  }
  .heading {
    font-size: 2.1rem;
  }
  .products {
    max-width: 100% !important;
  }
}

@media (max-width: 970px) {
  .wrapper {
    height: 35rem;
  }
  .buy-btn {
    top: 7rem;
  }
  .product__image {
    height: 12.5rem;
  }
  .products__container {
    padding: 1rem;
  }
  .container {
    max-width: $container-sm;
  }
  .main {
    gap: 1rem;
  }
  .heading {
    font-size: 1.7rem;
  }
}

@media (max-width: 760px) {
  .main__dropdown {
    display: none;
  }
  .container {
    max-width: $container-xs;
  }
  .heading {
    font-size: 1.4rem;
  }
}

@media (max-width: 640px) {
  .heading {
    top: 5rem;
    font-size: 0.9rem;
  }
  .wrapper {
    height: 32rem;
    & img {
      object-fit: cover;
    }
  }
  .buy-btn {
    top: 5rem;
  }
  .widget {
    max-width: 20rem;
  }
  .main {
    flex-wrap: wrap-reverse;
    gap: 0.3rem;
  }
  .switcher__language {
    background: transparent !important;
    color: $main-color !important;
    padding: 0.3rem 0.15rem;
  }
  .main__cart-switcher {
    flex: 1 1 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
    &_switcher {
      justify-content: space-between;
    }
  }
  .products__container {
    flex-direction: column;
    padding: 0.5rem;
  }
  .radio {
    display: none;
  }
}

@media (max-width: 450px) {
  .cart {
    width: 100%;
    font-size: small;
    &__subtitle {
      padding-left: 0;
    }
    &__products {
      height: 52vh;
    }
  }
  .cart__image img {
    height: 65px;
  }
  .notification__header {
    height: 10vh;
  }
  .notification__main {
    height: auto;
  }
  .notification__image img {
    height: 65px;
  }
  .notification__order {
    margin-top: 0.5rem;
    height: 23%;
    & p {
      display: none;
    }
  }
}
