@import '../../styles/variables';
@import '../../styles/mixins.scss';

.header__logo {
  padding: 1.8rem 0;
  display: inherit;
}

.main {
  display: flex;
  gap: 2rem;
  align-items: center;
  &__burger {
    color: #fff;
    height: 50px;
  }
}

.close-button {
  @include custom-close-button;
}

.input-group {
  display: flex;
  flex: 1 1 auto;
  position: relative;
  &__search-button {
    @include custom-search-button;
  }
  &__input {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    @include custom-border-style;
    color: #495057;
    background-color: $main-color;
    background-clip: padding-box;
    border: 1px solid $main-color;
    &:focus {
      outline: none;
      box-shadow: inset 0 -1em 1em #f5f3f3, 0 0 0 1px rgb(255, 255, 255),
        0.1em 0.1em 1em rgb(230, 220, 220);
    }
  }
}

.main__cart-switcher {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex: 0 0 auto;
  & img {
    height: 0.6rem;
  }
  .switcher {
    display: flex;
    flex-direction: column;
    position: relative;
    &__text {
      margin: 0 0.3rem;
    }
    &__language {
      background-color: $main-color;
      @include custom-border-style;
      color: #222;
      @include hover-animation(color, $secondary-color);
      cursor: pointer;
      &:after {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
      }
    }
  }
}
.submenu {
  position: absolute;
  top: 2.8rem;
  @include custom-tail;
  &__item {
    display: flex;
    background-color: #fff;
    padding: 0.6rem 2rem;
    align-items: center;
    justify-content: center;
    @include hover-animation-switcher;
    transition: none !important;
    & img {
      margin-right: 0.9rem;
    }
  }
}
.selected {
  background-color: #e7dada;
}
// header box section ends ---------------------------------------------------------------- >

.cart-toggler {
  display: flex;
  color: $main-color;
  align-items: center;
  position: relative;
  @include hover-animation(color, $secondary-color);
  &__icon {
    margin-right: 1rem;
  }
  &__text {
    font-size: 1.5rem;
  }
  &__products-number {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #222;
    border-radius: 50%;
    text-align: center;
  }
}
.sidebar {
  position: fixed;
  width: 15rem;
  z-index: 4;
  height: 100%;
  background-color: $primary-color;
  left: 0;
  right: 0;
  &__item {
    padding: 0.5rem;
    width: 50%;
    margin-left: 20%;
    @include hover-animation(color, $secondary-color);
  }
  &__menu {
    color: #fff;
    font-size: 1.5rem;
    position: relative;
  }
  &__close {
    color: #fff;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    @include hover-animation(color, $secondary-color);
  }
}

.hidden {
  display: none;
}

.popup {
  display: block;
  position: absolute;
  width: 10rem;
  @include custom-border-style;
  top: 3rem;
  font-size: small;
  background-color: #fff;
  color: black;
  @include custom-tail;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  font-family: sans-serif;
}
