@import '../../../styles/mixins.scss';
@import '../../../styles//variables.scss';
@import '../../../styles/fonts.scss';

.cart {
  background-color: #fff;
  height: 100vh;
  font-family: 'Roboto Mono';
  min-width: 30%;
  position: absolute;
  z-index: 4;
  right: 0;
  &__title {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  &__remove {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    font-size: 0.8rem;
    cursor: pointer;
  }
}
.remove__button {
  background-color: transparent;
  border: none;
  display: grid;
}
.cart__products {
  overflow-y: auto;
  height: 55vh;
  overflow-x: hidden;
  @include custom-scrollbar(#f1f1f1, #888, #555);
}
.cart__subtitle {
  display: flex;
  padding: 1rem;
  color: $text-color;
  position: relative;
  align-items: flex-start;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 95%;
    border-bottom: 1px solid #eeeaea;
  }
  &_default_color {
    color: black;
  }
}
.subtitle__elem {
  flex: 1 1 auto;
  max-height: 5rem;
  padding-left: 0.5rem;
  &_spaced {
    flex: 0 0 60%;
    display: flex;
  }
  &_direction_right {
    display: grid;
    justify-content: end;
  }
}
.cart__image {
  width: 25%;
  text-align: center;
  & img {
    height: 85px;
    object-fit: unset !important;
  }
}
.basket {
  border-radius: 50%;
  justify-content: center;
  padding: 2rem;
  max-width: 40%;
  display: flex;
  & img {
    border-radius: 50%;
  }
}
.subtitle__quantity {
  border: 1px solid lightgray;
  color: gray;
  border-radius: 5px;
  display: flex;
  margin-bottom: 0.2rem;
  justify-content: space-between;
  align-items: center;
  max-height: 1rem;
  padding: 1rem;
  .subtitle__operand {
    height: 18px;
  }
}

.checkout {
  padding: 1rem;
  position: absolute;
  bottom: 4rem;
  height: 20vh;
  background: #fff;
  left: 0;
  width: 100%;
  &__button {
    @include rounded-button;
    width: 100%;
    top: 0;
  }
  &__section {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 1rem;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    &_discount {
      border-bottom: 1px solid rgb(223, 219, 219);
      color: gray;
    }
  }
}

.notification {
  padding: 1rem;
  height: 100%;
  &__image {
    width: 20%;
    & img {
      height: 80px;
    }
  }
  &__price {
    flex: 1 1 auto;
    text-align: end;
    padding-right: 1.5rem;
  }
  &__heading {
    display: flex;
    flex-direction: column;
  }
  &__header {
    display: flex;
    height: 15%;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    border-bottom: 1px solid #eeeaea;
    border-bottom-width: 90%;
  }
  &__main {
    display: flex;
    height: 25%;
    flex-direction: column;
    gap: 0.5rem;
    & > div:after {
      @include custom-divider;
    }
  }
}

.notification__order {
  display: flex;
  flex-direction: column;
  height: 35%;
  overflow-y: auto;
  height: 16rem;
  @include custom-scrollbar(#f1f1f1, #888, #555);
  margin-top: 1rem;
  gap: 1rem;
}
.notification__wrapper {
  display: flex;
  border-bottom: 1px solid #eeeaea;
}
.notification__subtitle {
  color: #a5aaaf;
  font-size: 0.8rem;
  padding-bottom: 1rem;
}
