@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/fonts';

.footer {
  position: relative;
  bottom: 0;
  height: 30rem;
  width: 100%;
}

.widget {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 0.7rem;
  max-width: 30rem;
  top: 1rem;
  left: 5%;
  position: absolute;
  &__item {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    font-family: 'Crimson Text SemiBold, sans-serif';
    &_space {
      margin-top: 1rem;
      justify-content: space-between;
    }
  }
  &__autocomplete {
    flex: 1 1 auto;
  }
  &__input {
    border-radius: 0.25rem;
    padding: 0rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid lightgrey;
    outline: none;
    width: 100%;
  }
}
.widget__calculate-btn {
  @include rounded-button;
  top: 0;
  width: auto;
  text-transform: initial;
  padding: 0.1rem 0.5rem;
}
.close-button_transparent {
  background: transparent;
  position: static;
}

.widget__button {
  border: none;
  background: transparent;
  display: flex;
  margin-right: 0.4rem;
  padding: 0;
}
.widget__result {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
