@import "../../styles/variables";
@import "../../styles/mixins.scss";

// ----------------------------------------------------------------> slider section

.slider {
	display: flex;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transition: opacity 0.5s ease-in-out;
	opacity: 0;
	width: 100%;
	height: 45rem;
	position: absolute;
	top: 0;
}

.wrapper {
	position: relative;
}

.slider.active {
	opacity: 1;
}
.container {
	margin: 0 auto;
	max-width: $container-lg;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 1;
	position: inherit;
	&__logo {
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 30px 0;
	}
}
.dropdown__toggle {
	display: inline-block;
	color: $main-color;
   text-align: center;
   font-size: 1rem;
	background-color: $primary-color;
	border: 1px solid $primary-color;
   @include btn-style;
	&:after {
		content: "";
	display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
	}
}

.main {
	display: flex;
	gap: 2rem;
	align-items: center;
	&__menu {
		display: contents;
	}
}
.input__group {
	display: flex;
	flex: 1 1 auto;
	&_form {
		width: 100%;
		@include btn-style;
		font-size: 1rem;
		line-height: 1.5;
		color: #495057;
		background-color: $main-color;
		background-clip: padding-box;
		border: 1px solid $main-color;
		&:focus {
			outline: none;
			box-shadow:
       inset 0 -1em 1em #f5f3f3,
             0 0  0 1px rgb(255,255,255),
             0.1em 0.1em 1em rgb(230, 220, 220);
		}
  }
}
.btn-secondary {
	@include btn-style;
	position: relative;
	padding: 0.4rem 0.4rem;
	right: 2px;
	display: flex;
	color: $main-color;
}

.lang {
	@include btn-style;
	background-color: $main-color;
	color: #222;
	cursor: pointer;
	&:after {
		content: "";
		display: inline-block;
		 width: 0;
		 height: 0;
		 margin-left: 0.255em;
		 vertical-align: 0.255em;
		 border-top: 0.3em solid;
		 border-right: 0.3em solid transparent;
		 border-bottom: 0;
		 border-left: 0.3em solid transparent;
	}
	&_text {
		margin: 0 5px;
	}
}
.header__box {
	flex: 0 1 auto;
	&_switcher {
		display: flex;
		gap: 2rem;
		align-items: center;
	}
}
.slider_btn__section {
	display: flex;
	justify-content: space-between;
	position: relative;
	top: 10rem;
}
.next-button {
		border: none;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px 10px;
		background-color: rgb(242,222,172,.8);
  }
  .banner__text {
	position: relative;
	top: 5rem;
	color: $main-color;
	z-index: 1;
	font-size: 1.8rem;
	display: flex;
	justify-content: center;
	font-family: Poppins, sans-serif;
 &_title {
 position: absolute;
 text-transform: uppercase;
 font-weight: 700;
 display: flex;
 flex-direction: column;
 align-items: center;
 }
}
.cart {
	display: flex;
	color: $main-color;
	align-items: center;
	cursor: pointer;
	&:hover {
		color: $secondary-color;
		transition: color ease-in-out 1s;
	}
	&__icon {
		margin-right: 16px;
	}
}
.sidebar {
	position: fixed;
	width: 250px;
	height: 100%;
	background-color: $primary-color;
	left: 0;
	right: 0;
	z-index: 2;
}

.language__list {
	display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
	 &_item {
		display: flex;
    background-color: #fff;
    padding: 0.6rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid #fff;
    max-width: 7rem;
    margin: -0.3rem 7rem 0.4rem 1rem;
    align-items: center;
    justify-content: center;
}

&_item > img {
	margin-right: 5px;
}
}

  @media (max-width: 1165px) {
	.container {
		max-width: $container-md;
		transition: max-width 1s;
	}
	.banner__text {
		font-size: 1.5rem;
		transition: font-size 0.5s;
	}
	.slider {
		height: 35rem;
		transition: height 1s;
	}
}
  @media (max-width: 985px) {
	.container {
	  max-width: $container-sm;
	}
	.main {
		gap: 1rem;
	}
	.banner__text {
		font-size: 1.3rem;
	}
	.slider {
		height: 30rem;
	}
 }
 @media (max-width: 760px) {
	
	.dropdown__toggle {display: none;}
	.container {
		max-width: $container-xs;
	}
	.header__box_switcher {
		gap: 1rem;
	}
	.banner__text {
		font-size: 1.1rem;
	}
}

  @media (max-width: 640px) {
		.container {
			width: 100%;
			padding: 0 45px;
		}
		.main {
			flex-wrap: wrap-reverse;
			gap: 0.3rem;
		}
		.lang {
			background-color: transparent;
			color: $main-color;
			padding: 0.3rem 0.15rem;
	  }
		.header__box {
			flex: 1 1 auto;
			margin-bottom: 1rem;
			&_switcher {
				justify-content: space-between;
			}
		}
		.banner__text {
			font-size: 0.9rem;
		}
		.slider_btn__section {
			top: 8rem;
		}
   }
	@media (max-width: 420px) {
		.container {
			width: 100%;
			padding: 0 15px;
		}
		.main__menu > img {
			height: 35px;
		}
		.banner__text {
			font-size: 0.5rem;
	  }
	  .input__group {
		flex-basis: 80%;
	   }
	 }
// ----------------------------------------------------------------> slider section ends
