@import '../../styles/variables';
@import '../../styles/mixins.scss';

// ----------------------------------------------------------------> slider section

.wrapper {
  position: relative;
  height: 45rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.slider {
  height: inherit;
  position: absolute;
  opacity: 0;
  width: 100%;
  transition: all 0.5s;
  & img {
    object-fit: cover;
  }
}

.container {
  @include default-container;
}

.slider.active {
  opacity: 1;
}

.slider-control {
  display: flex;
  justify-content: space-between;
  position: relative;
  &__arrow-btn {
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
    background-color: rgb(242, 222, 172, 0.8);
    transition: color 0.5s ease-in-out;
    &:hover {
      color: $main-color;
    }
  }
}

.heading {
  display: grid;
  place-items: center;
  position: relative;
  font-size: 2.5rem;
  top: 7rem;
  &__title,
  &__subtitle {
    text-transform: uppercase;
    color: $main-color;
    font-family: Poppins, sans-serif;
  }
}
.buy-btn {
  @include rounded-button;
}
